:root{
    --a:rgb(0, 0, 0);
    --b:rgb(197, 194, 194);
    --c:rgb(0, 0, 0);
    --d:rgb(0, 0, 0);
    --nav: rgba(165, 165, 165, 0.856) ;
    --span: rgb(177, 180, 1);
    --butom: rgb(189, 192, 3);
    --card: rgb(27, 27, 27, 0.5);
    --background: rgb(255, 255, 255);
}

.dark-mode{
    --a:rgb(0, 0, 0);
    --b:#000;
    --c:#fff;
    --d:rgb(255, 251, 251);
    --nav: rgb(36, 35, 35);
    --span: rgb(206, 209, 0);
    --butom: rgb(177, 180, 1);
    --card:rgba(92, 92, 92, 0.5);
    --background: rgba(255, 250, 250, 0.5);
}





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background: var(--b);
    color: var(--c);
}

body{
    font-family: 'Noto Serif', serif;
    font-size: 16px;
}

header{
    position: relative;
    width: 90% ;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}



.bx{
    width: 350px;
    height: 600px;
    margin-left: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px black;
}
.bx img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.bx .content{
    position: relative;
    width: 100%;
    height: 40%;
    bottom: 87px;
    z-index: 1;
    margin-top: -155px;
}
.bx .content::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: var(--background);
    backdrop-filter: blur(20px);
    z-index: -1;
    
}

.content h1{
    color: var(--a);
    font-size: 20px;
    padding: 5px 0px 0px 20px;
    text-transform: uppercase;
    
}
.content p{
    width: 95%;
    color: var(--a);
    font-size: 12px;
    padding: 5px 0px 0px 20px;

}
.content .location{
    position: absolute;
    margin-left: 20px;
    margin-top: 15px;
    color: var(--a);
    font-size: 11px;
    font-weight: 900;
    padding: 4px;
    text-decoration: none;
    background-color: var(--span);
    border-radius: 15px;

}





.tex{
    display: flex;
}

.tex img{
    width: 500px;
    height: 400px;
    margin-right: 100px;
}


.text1{
    padding-top: 150px;
    padding-left: 100px;
    color: var(--c);
    width: 100%;
    height: 60vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

h6{
    font-size: 50px;
    font-weight: bold;
}

.text1 p{
    font-weight: bold;
}

span{
    color: var(--span);
}

.card{
    margin-top: 100px;
    width: 100%;
    height: 100vh;
}

.location2{
    width: 120px;
    height: 40px;
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    list-style-type: none;
    text-transform: none;
    text-decoration: none;
    color: var(--c);
    border: 1px solid var(--span);
    border-radius: 10px;
    padding: 8px;
    transition: 0.3s;
    padding-left: 20px;
    font-weight: 900;
}

.location2:hover{
    color: var(--butom);
    background: var(--a);
    border: 1px solid var(--butom);
}

.list{
    height: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(--nav);
}
 

.list .logo{
    font-size: 35px;
    margin-top: 5px;
    margin-left:35px;
    font-weight: bolder;
    color: var(--d);
}

.list .logo a{
    text-transform: none;
    text-decoration: none;
    color: var(--c);
}



.dark{
    position: absolute;
    margin-top: 19px;
    right:80px;
    width: 30px;
    height: 30px;
    text-decoration: none;
    transform: none;
    list-style-type: none;
    font-size: 27px;
}


.search{
    display: flex;
    align-items: center;
    color: var(--c);
    margin-right: 130px;
    margin-top: 10px;
    font-size: 25px;
}

input{
    padding: 5px 0px 8px 3px;
    margin-right: 7px;
    border-radius: 20px;
    outline: none;
    border: 1px solid var(--card);
    background: transparent;
    color: var(--c);
    width: 200px;
}

.search i{
    cursor: pointer;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-left: 50px;
}



.home-s{
    width: 100%;
    height: 80vh;
    background: var(--nav);
    clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
    display: flex;
}
.home-s1{
    margin-top: -102px;
    width: 100%;
    height: 80vh;
    background: var(--card);
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
    display: flex;
}

.home-s2{
    margin-top: -102px;
    width: 100%;
    height: 80vh;
    background: var(--nav);
    clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
    display: flex;
}


.wina{
    margin: 100px 70px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.info{
    width: 800px;
    height: 300px;
    margin-top: 170px;
}

.info p{
    font-size: 14px;
    font-weight: 600;

}

.info h2{
    font-size: 30px;
    font-weight: 900;

}



.home-s1 .wina{
    margin: 100px 70px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: relative;
}


.home-s1 .info{
    width: 800px;
    height: 300px;
    margin-top: 150px;
    margin-left: 150px;
}
.home-s1 .info p{
    font-size: 14px;
    font-weight: 600;

}

.home-s1 .info h2{
    font-size: 30px;
    font-weight: 900;
}
.home-s2 .info{
    width: 800px;
    height: 300px;
    margin-top: 200px;
    margin-left: 10px;
}
.home-s2 .info p{
    font-size: 14px;
    font-weight: 600;

}

.location0{
    width: 120px;
    height: 40px;
    position: absolute;
    margin-top: 20px;
    list-style-type: none;
    text-transform: none;
    text-decoration: none;
    color: var(--c);
    border: 1px solid var(--span);
    border-radius: 20px;
    padding: 8px;
    transition: 0.3s;
    padding-left: 20px;
    font-weight: 900;
}

.location0:hover{
    color: var(--butom);
    background: var(--a);
    border: 1px solid var(--butom);
}

.location1{
    width: 120px;
    height: 40px;
    position: absolute;
    margin-top: 20px;
    list-style-type: none;
    text-transform: none;
    text-decoration: none;
    color: var(--c);
    border: 1px solid var(--span);
    border-radius: 20px;
    padding: 8px;
    transition: 0.3s;
    padding-left: 20px;
    font-weight: 900;
}

.location1:hover{
    color: var(--butom);
    background: var(--a);
    border: 1px solid var(--butom);
}

.home-s2 .info h2{
    font-size: 30px;
    font-weight: 900;

}

#Web_1920__1 {
	width: 100%;
	height: 1080px;
	overflow: hidden;
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
    margin-top: 0px;
}
#Path_1 {
	fill: rgba(170, 170, 170, 0.89);
}

.kani{
    position: absolute;
    display: flex;
    width: 500px;
    margin-top: 250px;
    margin-left: 100px;
    
}

.kani div h1{
    width: 500px;
    font-size: 50px;
}

.kani div p{
    font-weight: 600;
}


.kani img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-left: 150px;
    margin-top: -200px;
}

.kani1{
    position: absolute;
    display: flex;
    width: 500px;
    margin-top: -250px;
    
}


.kani1 img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-left: 150px;
    margin-top: -200px;
}

.kani1 div {
    margin-top: -100px;
}

.kani1 div h1{
    width: 500px;
    font-size: 50px;
    margin-left: 100px;
    text-transform: capitalize;
}

.kani1 div p{
    font-weight: 600;
    margin-left: 100px;
}

.kani1 div .location{
    width: 120px;
    height: 40px;
    position: absolute;
    margin-top: 20px;
    margin-left: 100px;
    list-style-type: none;
    text-transform: none;
    text-decoration: none;
    color: var(--c);
    border: 1px solid var(--span);
    border-radius: 20px;
    padding: 8px;
    transition: 0.3s;
    padding-left: 20px;
    font-weight: 900;
}

.location:hover{
    color: var(--butom);
    background: var(--a);
    border: 1px solid var(--butom);
}



@media (max-width:900px) {
 .moon{
    position: absolute;
    margin-left: 50px;
 }
 .tex{
    margin-left: -55px;
    display: block;
    width: 100%;
    margin-top: -100px ;
 }
 .tex .text1 h6{
    font-size: 35px;
 }
 .tex img{
    width: 350px;
    height: 250px;
    margin-left: 75px;
    margin-top: -300px;
 }
 .home-s{
    display: block;
 }
 .home-s img{
    margin-top: 80px;
    width: 150px;
    height: 150px;
 }
 .home-s .info{
    width: 90%;
    margin-top: -100px;
    margin-left: 20px;
 }
 .home-s1{
    margin-top: -100px;
    display: block;
 }
 .home-s1 .wina{
    margin-top: -300px;
    margin-left: 200px;
    width: 150px;
    height: 150px;
 }
 .home-s1 .info{
    width: 90%;
    margin-top: -135px;
    margin-left: 20px;
    padding-top: 200px;
 }

 .home-s2{
    margin-top: -135px;
    display: block;
 }
 .home-s2 img{
    margin-top: 80px;
    width: 150px;
    height: 150px;
 }
 .home-s2 .info{
    width: 90%;
    margin-top: -80px;
    margin-left: 20px;
 }
 .card{
    display: block;
    height: 200vh;
    margin-left: -40px;
    margin-top: 0px;
 }
 .bx{
    width: 300px;
    height: 500px;
    margin-top: 30px;

 }

 .bx .content{
    height: 50%;
    margin-top: -165px;
 }
 #Web_1920__1 {
	width: 100%;
	height: 1080px;
	overflow: hidden;
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
    margin-top: 0px;
 }
 .Path_1{
    height:600px;
	fill: rgba(170, 170, 170, 0.89);
    margin-top: -100px;
 }

 
 .kani{
    position: absolute;
    display: block;
    width: 100%;
    margin-top: 80px;
    margin-left: 100px;
    
 }

 .kani div h1{
    width: 100%;
    font-size: 30px;
 }

 .kani div p{
    font-weight: 600;
    width: 75%;

 }

 .kani div{
    margin-left: -60px;
    
 }

 .kani img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-left: 100px;
    margin-top: 20px;
 }
 .kani1{
    
    display: block;
    width: 500px;
    margin-top: -250px;
    
 }


 .kani1 img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: -300px;
 }

 .kani1 div {
    margin-top: 20px;
    margin-left: -50px;
 }

 .kani1 div h1{
    width: 500px;
    font-size: 30px;
    margin-left: 100px;
    text-transform: capitalize;
 }

 .kani1 div p{
    width: 60%;
 }
}